@{
    ViewData["Title"] = "Home Page";
}
<div id="app">
    {{message}}
</div>
@section Scripts{ 
<script type="text/javascript" src="~/node_modules/vue/dist/vue.min.js"></script>

<script>
    const v = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>
}